.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.conveyorBelt {
    display: flex;
    position: relative;
    gap: 0;
    height: 120px;
    width: 100%;
}

.beltRolls {
    flex: 1;
    background-color: brown;
    height: 120px;
    border-radius: 10px;
    width: 30px;
    border-style: outset;
    border-color: black;

}

/* .containers {
    display: flex;
    position: absolute;
    bottom: 100px;
    gap: 40px;

} */

.bin1 {
    position: absolute;
    width: 120px;
    height: 150px;
    text-align: center;
    border-style: solid;
    border-color: red;
    border-width: 5px;
}

.bin2 {
    position: absolute;
    width: 200px;
    height: 100px;
    text-align: center;
    border-style: outset;
    border-color: orange;
    border-width: 5px;
}

.bin3 {
    position: absolute;
    width: 300px;
    height: 140px;
    text-align: center;
    border-style: outset;
    border-color: yellow;
    border-width: 5px;
}

.bin4 {
    position: absolute;
    width: 130px;
    height: 100px;
    text-align: center;
    border-style: outset;
    border-color: green;
    border-width: 5px;
}

.player {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 120px;
    height: 120px;

}

.playerHead {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: black;
    left: 25px;

}

.playerBody {
    position: absolute;
    top: 70px;
    width: 120px;
    left: 25px;

}

.spine {
    position: absolute;
    left: 25px;
    background-color: black;
    width: 20px;
    height: 50px;
}

.leftHand {
    position: absolute;
    width: 0;
    height: 0;
    top: 12.5px;
    border-top: 10px solid transparent;
    border-right: 50px solid black;
    border-bottom: 10px solid transparent;
    left: -25px;
}

.rightHand {
    position: absolute;
    width: 0;
    height: 0;
    top: 12.5px;
    right: 25px;
    border-top: 10px solid transparent;
    border-left: 50px solid black;
    border-bottom: 10px solid transparent;

}

.item1 {
    position: absolute;
    width: 50px;
    height: 70px;
    background-color: red;
    border-style: solid;

}

.item2 {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: orange;
    transform: rotate(20deg);
    border-style: solid;
}

.item3 {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: yellow;
    border-style: solid;
}

.item4 {
    position: absolute;
    border-style: solid black;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid purple;
   

}